{% extends 'base.html' %}

{% block content %}
  <h1>Post: {{ post.title }}</h1>
  <h3>Content : {{ post.content }}</h3>
  {% for post in category.post.all %}
  <div>
    <a href="{% url 'post_detail' category_id=category.id post_id=post.id %}">{{ post.title }}</a>
    <br>
  </div>
  {% endfor %}
  <hr>
  <a href="{% url 'post_edit' category_id=category.id post_id=post.id %}">Edit {{ post.title }}</a>
  <form method='POST' action="{% url 'post_delete' category_id=category.id post_id=post.id %}">
    {% csrf_token %}
    <button type='submit'>delete {{ post.title }}</button>
  </form>
  <a href="{% url 'categories' %}">Home</a>

{% endblock %}
